@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Truculenta:opsz,wght@12..72,100..900&display=swap');

.body{
    background-color: #000;
}

.main{
    background-color: #000;
    width: 100%;
    height: calc(100vh - 122px)
}


.cabecalho{
    background-color:#FFE600 ;
    width: calc(100vw);
    height: 122px;
    display: flex;
    align-items: center;
}

.fonteCabecalho{
    font-size: 19px;
}

.logo{
    width: 488px;
    color: #000;
    font-family: "Josefin Sans";
    font-size: 40px;
    font-weight: 300;
    padding-left: 20px;
}
.itens{
    color: #000;
    font-family: "Josefin Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

#menu ul { padding:0px;
    margin:0px;
    list-style:none;
  }

  #menu ul li { display: inline; }

  #menu ul li a { 
    padding: 4px 40px; 
    display: inline-block; /* visual do link */ 
    color: #000; 
    text-decoration: none; 
    font-family: "Josefin Sans";
}

.titulo{
    font-family: "Truculenta", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
    margin-left: 40px;
    color: #FFF;
    display: flex ;
    align-items: center;
    padding-top: 70px;
}
.titulo2{
    font-family: "Truculenta", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
    margin-left: 90px;
    color: #FFF;
    display: flex ;
    align-items: center;
}



.carousel-inner{
    display: inline-block;
}

.botaoPeca{
    display: inline-block;
    padding: 20px 35px;
    background-color: #FFE600;
    color: #000;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left: 17%;
    top: 70%;
    transform: translateY(-50%);
}

.textoPromocao{
    color: #FFF;
    font-size: 24px;
    padding-top: 30px;
    position: absolute;
    left: 6%;
    bottom: 40%;

}

.mesa {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto; /* Definido como 'auto' para manter a proporção da imagem */
  }

  .mesa img {
    display: block;
    width: 100%;
    height: auto; /* Definido como 'auto' para manter a proporção da imagem */
  }

.box-busca{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search-box-input::placeholder {
    
    color:#fff;
    opacity: 0.6;
}
/* Chrome, Opera ySafari */
.search-box-input::-webkit-input-placeholder { color: #000; }
/* Firefox 19+ */
.search-box-input::-moz-placeholder { color: #000; }
/* IE 10+ y Edge */
.search-box-input:-ms-input-placeholder { color: #000; }
.search-box form {
    
    display: flex;
    border-radius: 50px;
    background-color: #fff;
    height: 45px;
}
.search-box:hover .search-box-input {
    
    padding-left: 2em;
    padding-right: 1em;
    width: 250px;
}
.search-box-input {
    outline: 0;
    font-size: 1.2em;
    color: #000;
    width: 0;
    padding: 0;
    border: none;
    background: none;
    transition: .45s;
}
.search-box-button {
   display: flex;
   border-radius: 50%;
   width: 45px;
   height: 45px;
   background-color: #fff;
   border: none;
   cursor: pointer;
   transition: .3s;
}
.search-box-button:active  {
    transform: scale(.85);
}
.search-box-icone {
    margin: auto;
    color: #fff;
}
@media screen and (min-width: 400px){
    
    .search-box:hover .search-box-input {
        width: 280px;
    }
}

.lupapng{
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 0px;
    height: 30px;
    width: 30px;
}

.home{
    height: 25px;
    width: 25px;
}

.carousel-slide{
    position: absolute;
    right: 3%;
    top: 60%;
    transform: translateY(-50%);
    z-index: 1;
}